altgraph==0.17.3
future==0.18.3
Jinja2==3.1.2
MarkupSafe==2.1.2
mysql-connector-python==8.0.32
pefile==2022.5.30
protobuf==3.20.3
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQt6==6.4.1
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.1
PySide2==5.15.2.1
pywin32-ctypes==0.2.0
qt-material==2.12
shiboken2==5.15.2.1
